.errorInput{
    background-color: rgb(216, 170, 170);
}

.window{
    height: 150px;
    background-color: rgb(238, 234, 234);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgb(102, 99, 99);
    font-size: 25px;  
}

.inputBlock{
    display: flex;
    justify-content: space-between;
    width: 220px;
}